@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "../../node_modules/swiper/swiper-bundle.css";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:focus,
:active {
  outline: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol,
ul[class],
ol[class] {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Lemon milk";
  src: url("../fonts/LEMONMILK-Bold.otf");
  src: url("../fonts/LEMONMILK-Bold.otf?#iefix") format("embedded-opentype"), url("../fonts/LEMONMILK-Bold.otf") format("otf"), url("../fonts/LEMONMILK-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Peace Sans";
  src: url("../fonts/peace_sans.otf");
  src: url("../fonts/peace_sans.otf?#iefix") format("embedded-opentype"), url("../fonts/peace_sans.otf") format("otf"), url("../fonts/peace_sans.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  font-family: "Lato";
}

.header.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header__body {
  z-index: 22;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.header__logo {
  font-size: 43.1px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.025em;
  color: #ffffff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin-left: 20px;
}

.header__link {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.header__link:hover {
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 0.6;
  color: red;
}

.header__icons {
  margin-left: 50px;
}

.header__icons i {
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__icons i:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__icons a {
  margin-left: 20px;
}

.header__icons a:first-child {
  margin-left: 0;
}

.section-title {
  font-family: "Peace Sans";
  line-height: 1.2;
  font-weight: 400;
  color: #494949;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
  font-size: 62px;
  mix-blend-mode: difference;
}

.section-button {
  background-color: #bc2e3a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  border-radius: 50px;
  mix-blend-mode: difference;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section-button::before {
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(white), to(transparent));
  background: -o-linear-gradient(left, transparent, white, transparent);
  background: linear-gradient(90deg, transparent, white, transparent);
}

.section-button:hover::before {
  left: 100%;
  -webkit-transition: all ease-in-out 0.8s;
  -o-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}

.section-button a {
  font-family: "Lato";
  font-size: 21.2px;
  font-size: 21.2px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.home {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #bc2e3a;
}

.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  mix-blend-mode: multiply;
}

.home__img {
  width: 600px;
  height: 650px;
  position: absolute;
  z-index: 5;
  bottom: -70px;
  right: 10%;
}

.home__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: top;
     object-position: top;
}

.home__row {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50px;
  padding: 14px 30px;
  background-color: white;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.home__button::before {
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #bc2e3a;
  border-radius: 50px;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  z-index: -1;
  border: 1px solid white;
}

.home__button:hover a {
  color: white;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.home__button:hover::before {
  width: 100%;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.home__button a {
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  font-family: "Lato";
  font-size: 21.2px;
  font-size: 21.2px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #242424;
}

.home .home-item {
  font-family: "Lemon milk";
  width: calc(70% - 30px);
  text-align: center;
  padding-top: 50px;
}

.home .home-item__content {
  padding-bottom: 50px;
}

.home .home-item__title {
  position: relative;
  z-index: 2;
  font-size: 158.8px;
  line-height: 0.9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-size: 158.8px;
}

.home .home-item__sub {
  font-size: 96.1px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-size: 96.1px;
}

.about-site {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.about-site__figure {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -13%;
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 650px solid transparent;
  border-top: 650px solid #171717;
  mix-blend-mode: color-dodge;
}

.about-site .section-title {
  text-align: start;
}

.about-site__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-site__column {
  width: calc(50%);
  position: relative;
  z-index: 3;
}

.about-site .about-item {
  margin-left: 100px;
}

.about-site .about-item:first-child {
  margin-left: 0;
}

.about-site .about-item__text {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #6a6a6a;
  margin-bottom: 70px;
  max-width: 471px;
}

.about-site .about-item__img {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.about-site .about-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service {
  background-color: #f5f5f5;
  padding-top: 100px;
  position: relative;
}

.service__figure {
  position: absolute;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-left: 100px solid #bc2e3a;
  border-bottom: 90px solid transparent;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.service__column {
  width: calc(33.333% - 30px);
  margin-bottom: 100px;
}

.service .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .service-item__icon {
  margin-right: 20px;
  width: 75px;
  height: 75px;
  background-color: #bc2e3a;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.service .service-item__icon img {
  fill: #ffffff;
  width: 32px;
  height: 32px;
}

.service .service-item__title {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #6f6f6e;
  margin-bottom: 20px;
}

.service .service-item__text {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #6a6a6a;
  mix-blend-mode: difference;
}

.process-work {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.process-work .section-title {
  text-align: start;
  min-width: 500px;
}

.process-work__figure {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 500px solid transparent;
  border-right: 400px solid #bc2e3a;
  border-bottom: 500px solid transparent;
  z-index: -1;
}

.process-work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process-work__column:first-child {
  width: calc(40%);
  padding-left: 170px;
}

.process-work__column:last-child {
  width: 60%;
}

.process-work .process-item__text {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #6a6a6a;
  max-width: 289px;
  margin-bottom: 50px;
}

.process-work .process-slider {
  padding-left: 60px;
  position: relative;
}

.process-work .process-slider__figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-right: 120px solid transparent;
  border-top: 270px solid white;
  z-index: 2;
}

.process-work .process-slider .swiper-button-prev,
.process-work .process-slider .swiper-button-next {
  top: 90%;
  --swiper-navigation-size: 30px;
  color: #f55252;
  visibility: hidden;
}

.process-work .process-slider .swiper-button-prev {
  left: 35%;
}

.process-work .process-slider .swiper-button-next {
  right: 35%;
}

.process-work .process-slider .swiper-scrollbar {
  visibility: hidden;
}

.process-work .process-slider .process-slide {
  padding: 0 10px;
}

.process-work .process-slider .process-slide__img {
  width: 260px;
  height: 260px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 5px;
}

.process-work .process-slider .process-slide__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: skew(-25deg);
      -ms-transform: skew(-25deg);
          transform: skew(-25deg);
  z-index: -1;
}

.process-work .process-slider .process-slide__content {
  padding: 0 5px;
  padding-bottom: 10px;
}

.process-work .process-slider .process-slide__title {
  font-family: "Lato";
  font-size: 39.8px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.process-work .process-slider .process-slide__text {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.team {
  padding: 100px 0;
  background-color: #f5f5f5;
  position: relative;
}

.team__figure {
  position: absolute;
  left: 0;
  top: -14.9%;
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 120px solid black;
}

.team__row {
  position: relative;
  padding: 0 15px;
}

.team__name {
  position: absolute;
  width: 160px;
  height: 40px;
  background-color: black;
  bottom: -25px;
  left: 50px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  font-family: "Open Sans";
  font-size: 23.7px;
  line-height: 39px;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .team-name__sub {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #ca1919;
  top: 37px;
  left: 30px;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  font-family: "Open Sans";
  font-size: 23.7px;
  line-height: 39px;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 19.2px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}

.team .team-name__sub span {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.team .team-slider {
  max-width: 1060px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team-slider__slide {
  height: calc(70vh - 20px);
  position: relative;
  color: #990707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 0.6;
}

.team .team-slider .swiper-slide-active {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
  position: relative;
  z-index: 3;
}

.team .team-slider .team-slide__img {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 250px;
  -webkit-transition: width 0.7s ease-in-out;
  -o-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}

.team .team-slider .team-slide__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -o-object-position: top left;
     object-position: top left;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
  border: 10px solid white;
}

.team .team-slider .swiper-button-next {
  right: -100px;
}

.team .team-button-prev {
  width: 0;
  height: 0;
  color: transparent;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 70px;
}

.team .team-button-next {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 70px;
}

.clientage {
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 2;
  position: relative;
}

.clientage__row {
  margin: 0 auto;
}

.clientage .section-title {
  text-align: start;
  padding-left: 100px;
  margin-bottom: 100px;
}

.clientage .clientage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.clientage .clientage-item__img {
  width: calc(30% - 50px);
  position: relative;
  height: 300px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.clientage .clientage-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clientage .comment {
  font-family: "Open Sans";
  width: calc(70% - 150px);
  position: relative;
}

.clientage .comment::after {
  content: ",,";
  position: absolute;
  left: -120px;
  top: -100px;
  font-family: "";
  font-size: 199.1px;
  line-height: 331px;
  font-weight: 600;
  color: #6a6a6a;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clientage .comment__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  color: #6a6a6a;
  text-align: justify;
}

.clientage .comment__sub {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #6a6a6a;
}

.clientage .left-figure {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 470px solid transparent;
  border-bottom: 470px solid transparent;
  border-left: 400px solid #bc2e3a;
  left: 0;
  top: 58%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.clientage .right-figure {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border-bottom: 222px solid transparent;
  border-right: 222px solid #171717;
}

.footer {
  position: relative;
  z-index: 1;
}

.footer__figure {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 180px solid #bc2e3a;
}

.footer .section-title {
  margin-bottom: 100px;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer__row {
  padding: 100px 0;
  position: relative;
  z-index: 3;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.footer__column {
  width: calc(33.333% - 100px);
}

.footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-item__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50px;
  min-height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  position: relative;
}

.footer .footer-item__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .footer-item__title {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .footer-item__link {
  font-family: "Times New Roman";
  font-size: 20.9px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer .footer-item__link:hover {
  background: -o-linear-gradient(45deg, #de1b4e 5%, black);
  background: linear-gradient(45deg, #de1b4e 5%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer .footer-item__text {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  max-width: 205px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer .footer-item__text:hover {
  background: -webkit-gradient(linear, right top, left top, color-stop(5%, #de1b4e), to(black));
  background: -o-linear-gradient(right, #de1b4e 5%, black);
  background: linear-gradient(270deg, #de1b4e 5%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-bottom: 2px solid white;
}

.footer .footer-icons i {
  font-size: 25.3px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.footer .footer-icons i:hover {
  color: red;
  opacity: 0.6;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media (max-width: 1380px) {
  .process-work .section-title {
    text-align: center;
    min-width: 50px;
  }

  .process-work__row {
    padding: 0 15px;
  }

  .process-work__column:first-child {
    width: calc(100%);
    padding-left: 0px;
    margin-bottom: 50px;
  }

  .process-work__column:last-child {
    width: 70%;
  }

  .process-work .process-item {
    text-align: center;
  }

  .process-work .process-item__text {
    max-width: 70%;
    margin: 0 auto 50px;
  }

  .process-work .process-slider {
    padding-left: 0;
    position: relative;
  }

  .process-work .process-slider__figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-right: 0px solid transparent;
    border-top: 0px solid white;
    z-index: 2;
  }

  .process-work .process-slider .swiper-scrollbar {
    visibility: hidden;
  }

  .process-work .process-slider .process-slide {
    padding: 0px;
  }

  .process-work .process-slider .process-slide__img {
    width: 260px;
    height: 260px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 5px;
  }

  .process-work .process-slider .process-slide__img img {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
    z-index: -1;
  }

  .process-work .process-slider .process-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .process-work .process-slider .process-slide__content {
    padding: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 1368px) {
  .service__figure {
    top: 0;
  }

  .clientage__row {
    margin: 0 auto;
  }

  .clientage .section-title {
    text-align: center;
    padding-left: 0;
    margin-bottom: 50px;
  }

  .clientage .clientage-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .clientage .clientage-item__img {
    width: calc(70%);
    margin-bottom: 50px;
  }

  .clientage .clientage-item__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .clientage .comment {
    font-family: "Open Sans";
    width: calc(100%);
  }

  .clientage .comment::after {
    content: ",,";
    left: 0px;
    top: -140px;
    z-index: 3;
  }

  .clientage .comment__text {
    text-align: center;
  }
}

@media (max-width: 1368px) and (max-width: 1200px) {
  .clientage .clientage-item__img {
    margin-bottom: calc(70px + -20 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 1300px) {
  .team .team-button-prev {
    visibility: hidden;
  }

  .team .team-button-next {
    visibility: hidden;
  }
}

@media (max-width: 1270px) {
  .home .home__img {
    z-index: -1;
    bottom: 0;
  }

  .process-work .section-title {
    text-align: center;
    min-width: 50px;
  }

  .process-work__column:first-child {
    width: calc(100%);
    padding-left: 0px;
    margin-bottom: 50px;
  }

  .process-work__column:last-child {
    width: 70%;
  }

  .process-work .process-item {
    text-align: center;
  }

  .process-work .process-slider {
    padding-left: 0;
    position: relative;
  }

  .process-work .process-slider__figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-right: 0px solid transparent;
    border-top: 0px solid white;
    z-index: 2;
  }

  .process-work .process-slider .swiper-scrollbar {
    visibility: hidden;
  }

  .process-work .process-slider .process-slide {
    padding: 0px;
  }

  .process-work .process-slider .process-slide__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 5px;
  }

  .process-work .process-slider .process-slide__img img {
    border-radius: 20px;
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
  }

  .process-work .process-slider .process-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .process-work .process-slider .process-slide__content {
    padding: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 1200px) {
  .section-title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .section-title {
    font-size: calc(35px + 27 * ((100vw - 320px) / 880));
  }

  .section-button a {
    font-size: calc(14px + 7.2 * ((100vw - 320px) / 880));
  }

  .home__button a {
    font-size: calc(14px + 7.2 * ((100vw - 320px) / 880));
  }

  .home .home-item__title {
    font-size: calc(55px + 103.8 * ((100vw - 320px) / 880));
  }

  .home .home-item__sub {
    font-size: calc(35px + 61.1 * ((100vw - 320px) / 880));
  }

  .about-site {
    padding-top: calc(25px + 75 * ((100vw - 320px) / 880));
  }

  .about-site {
    padding-bottom: calc(15px + 85 * ((100vw - 320px) / 880));
  }

  .service {
    padding-top: calc(20px + 80 * ((100vw - 320px) / 880));
  }

  .service__column {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 1085px) {
  .team {
    padding: 100px 0;
    background-color: #1b1919;
    position: relative;
  }

  .team .section-title {
    color: #f5f0f0;
  }

  .team__figure {
    visibility: hidden;
  }

  .team__row {
    position: relative;
    padding: 0 15px;
  }

  .team__name {
    bottom: -25px;
    left: 80px;
  }

  .team .team-slider {
    max-width: 1060px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team .team-slider__slide {
    height: calc(70vh - 20px);
    z-index: 1;
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    opacity: 0.4;
  }

  .team .team-slider .team-slide__img img {
    -o-object-position: top left;
       object-position: top left;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@media (max-width: 1076px) {
  .service__column {
    width: calc(50% - 30px);
  }
}

@media (max-width: 1000px) {
  .footer .section-title {
    margin-bottom: 50px;
  }

  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    width: calc(33% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 4px;
    margin-right: 5px;
  }

  .footer .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer .footer-item__icon {
    -ms-flex-item-align: center;
        align-self: center;
    width: 50px;
    min-height: 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 800px;
    padding-bottom: 30px;
    margin: 0 auto;
    border-bottom: 2px solid white;
  }

  .footer .footer-icons i {
    font-size: 25.3px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }

  .home {
    overflow: hidden;
    height: auto;
  }

  .home .home__img {
    width: 90%;
    height: 750px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    top: 50px;
  }

  .home .home__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .home .home__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding-top: 250px;
    padding-bottom: 250px;
  }

  .home .home-item {
    padding: 0 20px;
    width: 100%;
  }

  .about-site .section-title {
    text-align: center;
  }

  .about-site__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about-site__column {
    width: calc(100%);
    margin-bottom: 50px;
  }

  .about-site__column:last-child {
    margin-bottom: 0;
  }

  .about-site .about-item {
    margin-left: 0;
    text-align: center;
  }

  .about-site .about-item:first-child {
    margin-left: 0;
  }

  .about-site .about-item__text {
    margin-bottom: 70px;
    max-width: 70%;
    margin: 0 auto;
  }

  .about-site .about-item__img {
    height: 350px;
  }

  .about-site .about-item__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  body.lock {
    overflow: hidden;
  }

  .header__icons {
    visibility: hidden;
    position: absolute;
  }

  .header__icons i {
    border: none;
    padding: 0 15px;
  }

  .header__icons i:last-child {
    padding-left: 10px;
  }

  .header__burger.active {
    z-index: 22;
  }

  .header__burger.active .header__burger-line {
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__burger.active .header__burger-line::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }

  .header__burger.active .header__burger-line::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }

  .header__burger {
    visibility: visible;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 44px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 101;
    right: 15px;
    top: 20px;
  }

  .header__burger.active-burger {
    top: 15px;
  }

  .header__burger-line {
    z-index: 101;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background: #fc0606f1;
    -webkit-box-shadow: 0 2px 5px rgba(172, 49, 5, 0.2);
            box-shadow: 0 2px 5px rgba(172, 49, 5, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .header__burger-line::before,
  .header__burger-line::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .header__burger-line::before {
    -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
            transform: translateY(-12px);
  }

  .header__burger-line::after {
    -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
            transform: translateY(12px);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
    padding-left: 0;
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    z-index: 2;
  }

  .header__menu.active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__list li {
    height: auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    border-right: none;
    padding-right: 0;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }

  .header__list li:last-child {
    border-bottom: none;
  }

  .header__link {
    color: white;
    text-transform: uppercase;
  }
}

@media (max-width: 1000px) and (max-width: 1200px) {
  .home .home__row {
    padding-top: calc(150px + 100 * ((100vw - 320px) / 880));
  }

  .home .home__row {
    padding-bottom: calc(100px + 150 * ((100vw - 320px) / 880));
  }

  .about-site__column {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .about-site .about-item__text {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 880));
  }

  .about-site .about-item__img {
    height: calc(200px + 150 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 860px) {
  .team {
    background-color: #1b1919;
  }

  .team .section-title {
    color: #f5f0f0;
  }

  .team__name {
    background-color: black;
    bottom: -15px;
    left: 80px;
  }

  .team .team-name__sub {
    top: 37px;
    left: 30px;
  }

  .team .team-slider__slide {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .team .team-slider .team-slide__img {
    width: 180px;
    height: 180px;
    -webkit-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
  }

  .team .team-slider .team-slide__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
    -o-object-position: top left;
       object-position: top left;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    overflow: hidden;
    border: 10px solid white;
  }
}

@media (max-width: 860px) and (max-width: 1200px) {
  .team .team-slider__slide {
    padding-top: calc(80px + 20 * ((100vw - 320px) / 880));
  }

  .team .team-slider__slide {
    padding-bottom: calc(80px + 20 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 776px) {
  .about-site .about-item__text {
    max-width: 100%;
  }

  .about-site__figure {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -13%;
    width: 0;
    height: 0;
    border-left: 800px solid transparent;
    border-right: 750px solid transparent;
    border-top: 780px solid #171717;
    mix-blend-mode: color-dodge;
  }

  .service__column {
    width: calc(100%);
  }

  .service .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .service .service-item__icon {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .process-work .process-item {
    text-align: center;
  }

  .process-work .process-item__text {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 40px;
  }
}

@media (max-width: 716px) {
  .home .home__img {
    width: 100%;
  }

  .footer {
    position: relative;
    z-index: 1;
  }

  .footer__figure {
    right: -40px;
  }

  .footer__column {
    width: calc(50% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }

  .footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
    padding-bottom: 30px;
    margin: 0 auto;
    border-bottom: 2px solid white;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .footer-icons i {
    font-size: 25.3px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 716px) and (max-width: 1200px) {
  .footer__figure {
    right: calc(-250px + 210 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 562px) {
  .section-button {
    background-color: #bc2e3a;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15px 30px;
    border-radius: 50px;
    mix-blend-mode: unset;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
  }
}

@media (max-width: 480px) {
  .process-work .process-slider .swiper-button-prev,
  .process-work .process-slider .swiper-button-next {
    top: 90%;
    --swiper-navigation-size: 30px;
    color: #f55252;
    visibility: visible;
  }

  .team__name {
    bottom: -15px;
    left: 15px;
  }

  .team .team-slider {
    max-width: 1060px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team .team-slider .swiper-slide-active {
    opacity: 1;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    position: relative;
    z-index: 3;
  }

  .team .team-slider .team-slide__img {
    position: relative;
    z-index: 1;
    width: 155px;
    height: 155px;
    -webkit-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
  }

  .team .team-slider .team-slide__img img {
    -webkit-transform: rotate(44deg);
        -ms-transform: rotate(44deg);
            transform: rotate(44deg);
  }

  .footer__column {
    width: calc(100% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 380px) {
  .clientage-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }

  .clientage-item__img {
    width: calc(70%);
    position: relative;
    height: 300px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: 50px;
  }

  .clientage-item__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 380px) and (max-width: 1200px) {
  .clientage-item__img {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}